* {
	font-size: 25px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightyellow;
	flex-direction: column;
}

h1 {
	color: teal;
	text-shadow: 3px 2px 3px #6ae5e5;
}

.button{
  position: relative;
  margin-top: 10px;
  background-color: rgb(0, 94, 201);
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.7em 1.6em;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
  background-color: rgb(0, 106, 228);
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 20px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

.container {
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 9rem;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background: linear-gradient(118.38deg, #ffff9a -4.6%, #ffff2a 200.44%);
  	box-shadow: -4px -4px 10px #ffeb3b, 3px 2px 10px #475462;
	transform: translateY(-20px);

}

.row {
	padding: 10px;
	box-shadow: 0px 0px 20px 7px #fbfb30;
	border-radius: 5px;
	background-color: #fcfc42;
}

#maxNumber {
	width: 50px;
	border: 1px solid orange;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	margin-right: 10px;
}

#form {
	margin-top: 0;
}

.select {
	
	font-size: 15px;
	background-color: #1abc9c;
	color: #fff;
	padding-right: 1.5em; 
	padding-left: .3em; 
	border: 0;
	margin: 0;
	border-radius: 3px;
	outline: none;
  }

  .selectOptions {
	position: relative;
  }

  .selectOptions::before {
	content: '';
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: 20px;
	border-right: 1px solid #ffffff75;
  }

  .select option {
	font-size: 15px;
	padding: 17px 10px;
  }

  